body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
}

header {
    flex: 0 80px;
    font-size: 150%;
}

main {
    flex: 1 calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #344E41;
}

#game {
    margin: 2%;
    border: #3A5A40;
    border-style: solid;
    flex-direction: row;
    height: 400px !important;
    width: 650px !important;
}

#play {
    flex: 1;
    margin-bottom: 20%;
}

footer {
    flex: 0 30px;
}
  
menu {
    flex: 1;
    display: flex;
    flex-direction: row !important;
    list-style: none;
}
  
.navbar-brand {
    padding-left: 0.3em;
    border-bottom: solid rgb(182, 182, 182) thin;
    font-family: monospace;
}

#nav_title {
    font-size: 200%;
}

menu .nav-item {
    padding: 0 0.3em;
    border-bottom: solid rgb(182, 182, 182) thin;
    font-family: monospace;
}

#gameCanvas {
    height: 800;
    width: 500;
    border: 3px solid #588157;
}

#spacerDiv {
    height: 100px;
}

.players {
    flex: 1;
    width: 100%;
    padding: 0.5em;
    margin-left: 0;
}

.player-name {
    color: rgb(118, 190, 210);
}

#infoDiv {
    align-self: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 50px;
}

.info {
    border-top: solid #344E41 thin;
    align-self: baseline;
    align-items: center;
    flex: 1;
    width: 350px;
    padding: 15px;
}